---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="No sabes que regalarme?" description="sugerencias para hacer un regalo de cumpleaños a Marcos Ramírez" keywords="regalos,cumpleaños">
<section>
  <h1>> REGALOS_CUMPLEAÑOS</h1>
  
  <p class="prompt">¿No sabes que regalarme? _</p>
  
  <p>Algunas ideas:</p>
  
  <ul>
    <li>Felicitarme (en persona o virtualmente)</li>
    <li>Invitarme a una caña (<a href="https://www.paypal.com/donate/?hosted_button_id=ARHMLHJREVJ48" target="_blank">[DONAR]</a>)</li>
    <li>Regalos de mis listas de Amazon:</li>
    <ul>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/2ICAR6M2LD175?ref_=wl_share" target="_blank">[LIBROS_TECNICOS]</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/K1B6A0ERHMI?ref_=wl_share" target="_blank">[MONTAÑA]</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/3W4Z9QV85RRO5?ref_=wl_share" target="_blank">[BICI]</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/2QNS1H3JEUH0V?ref_=wl_share" target="_blank">[ROPA]</a></li>
      <li><a href="https://www.amazon.es/hz/wishlist/ls/1S1NVYBRXUSQX?ref_=wl_share" target="_blank">[CHORRADAS]</a></li>
    </ul>
  </ul>
  
  <p class="prompt">Gracias por pensar en mi :D<span class="blink">_</span></p>
</section>
</Layout>

<style>
  .blink {
    animation: blink 1s step-end infinite;
  }
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
</style>