---
---

<header>
  <div class="navbar bg-transparent">
    <a href="/" class="brand">Marcos Ramírez</a>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <nav class="nav-menu">
      <a href="/sobre-mi">Sobre Mi</a>
      <a href="/contacto">Contacto</a>
      <a href="https://blog.marcosramirez.info" target="_blank">Blog</a> 
      <a href="https://github.com/MarcosRamirez" target="_blank">GitHub</a>
      <a href="/marcos-ramirez-la-novela">La novela</a> 
    </nav>
  </div>
</header>

<style>
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar nav {
    margin-left: auto;
    display: flex;
  }

  .navbar a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
  }

  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  .menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .navbar nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #000000;
      position: absolute;
      top: 60px;
      left: 0;
    }

    .navbar nav a {
      margin: 10px 0;
      text-align: center;
    }

    .menu-icon {
      display: block;
    }

    .menu-toggle:checked + .menu-icon + .nav-menu {
      display: flex;
    }
  }
</style>